//Responsiv
$breakpoint-desktop: 400px;

//Colors
$backgorund-color: #F5F5F5;
$backgorund-color-card:#FFFFFF;
$heading-color: #146E6E;
$main-text-color: #000000;
$color-elements-card: #C4DBDB;

//Fonts
$font-family: Arial, Helvetica, sans-serif;