@import "partials/variables";

body{
    background-color: $backgorund-color;
    font-family: $font-family;
    color: $main-text-color;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 64px;
    gap: 64px;
    h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 27px;
        color: $heading-color;
    }
}

.wrapper{
    display: flex;
    gap: 48px;
}

.card{
    background-color: $backgorund-color-card;
    border-bottom: 4px solid $color-elements-card;
    border-radius: 0 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    @media (min-width: $breakpoint-desktop){
        min-width: 326px;
        max-width: 33.33%;
        max-width: calc(100%/3);
    }
    
    img{
        display: flex;
        align-self: stretch;
    }
    .content{
        padding: 32px 24px;
        gap: 24px;
        .text{
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 8px;
            align-self: stretch;
            h2{
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                order: 0;
            }
            p{
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                order: 1;
                align-self: stretch;
            }
        }
    
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            padding: 12px 8px;
            gap: 8px;
            background-color: $color-elements-card;
            border-radius: 8px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-decoration: none;
            color:$main-text-color;
        }
    }
}